<a href="https://colab.research.google.com/github/monisha-max/Hacktoberfest22/blob/master/spam_ham_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
import pandas as pd
import numpy as np
dataset=pd.read_csv("SMSSpamCollection.tsv",sep="\t",header=None)
dataset.columns=['label','body_text']
dataset.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [ ]:
dataset['body_text'][0]

"I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times."

In [ ]:
print("input data has {} rows and {} columns".format(len(dataset),len(dataset.columns)))

input data has 5568 rows and 2 columns

In [ ]:
print("out of {} rows,{} are spam and {} are ham".format(len(dataset),len(dataset[dataset['label']=='spam']),len(dataset[dataset['label']=='ham'])))

out of 5568 rows,746 are spam and 4822 are ham

In [ ]:
print("number of null values in label:{}".format(dataset['label'].isnull().sum()))

number of null values in label:0

In [ ]:
print("number of null values in text:{}".format(dataset['body_text'].isnull().sum()))

number of null values in text:0

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punct(text):
  text_nopunct="".join([char for char in text if char not in string.punctuation ])
  return text_nopunct
dataset['body_text_clean']=dataset['body_text'].apply(lambda x:remove_punct(x))
dataset.head()

,label,body_text,body_text_clean
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

In [ ]:
import re
def tokenise(text):
    tokens=re.split('\W',text)
    return tokens
dataset['body_text_tokenised']=dataset['body_text_clean'].apply(lambda x:tokenise(x.lower()))
dataset.head()

,label,body_text,body_text_clean,body_text_tokenised
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]"

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stopwords=nltk.corpus.stopwords.words('english')
def remove_stopwords(tokenised_list):
    text=[word for word in tokenised_list if word not in stopwords]
    return text
dataset['body_text_nostop']=dataset['body_text_tokenised'].apply(lambda x:remove_stopwords(x))
dataset.head()

,label,body_text,body_text_clean,body_text_tokenised,body_text_nostop
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,...","[ive, searching, right, words, thank, breather..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ...","[even, brother, like, speak, treat, like, aids..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]"

In [ ]:

ps = nltk.PorterStemmer()

def stemming(tokenised_text):
    text = [ps.stem(word) for word in tokenised_text]
    return text

dataset['body_text_stemmed'] = dataset['body_text_nostop'].apply(lambda x: stemming(x))
dataset.head()

,label,body_text,body_text_clean,body_text_tokenised,body_text_nostop,body_text_stemmed
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,...","[ive, searching, right, words, thank, breather...","[ive, search, right, word, thank, breather, pr..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin...","[free, entri, 2, wkli, comp, win, fa, cup, fin..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t...","[nah, dont, think, goe, usf, live, around, tho..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ...","[even, brother, like, speak, treat, like, aids...","[even, brother, like, speak, treat, like, aid,..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]","[date, sunday]"

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
wn=nltk.WordNetLemmatizer()
def lemmatising (tokenised_text):
    text=[wn.lemmatize(word) for word in tokenised_text]
    return text
dataset['body_text_lemmatised']=dataset['body_text_nostop'].apply(lambda x: lemmatising(x))
dataset.head()

,label,body_text,body_text_clean,body_text_tokenised,body_text_nostop,body_text_stemmed,body_text_lemmatised
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,...","[ive, searching, right, words, thank, breather...","[ive, search, right, word, thank, breather, pr...","[ive, searching, right, word, thank, breather,..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin...","[free, entri, 2, wkli, comp, win, fa, cup, fin...","[free, entry, 2, wkly, comp, win, fa, cup, fin..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t...","[nah, dont, think, goe, usf, live, around, tho...","[nah, dont, think, go, usf, life, around, though]"
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ...","[even, brother, like, speak, treat, like, aids...","[even, brother, like, speak, treat, like, aid,...","[even, brother, like, speak, treat, like, aid,..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]","[date, sunday]","[date, sunday]"

In [ ]:
import string
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer

nltk.download('stopwords')

ps = PorterStemmer()

def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W', text)
    text=[ps.stem(word) for word in tokens if word not in stopwords.words('english')]
    return text

count_vect = CountVectorizer(analyzer=clean_text)
X_count = count_vect.fit_transform(dataset['body_text'])
print(X_count.shape)
print(count_vect.get_feature_names_out())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

(5568, 8107)
['' '0' '008704050406' ... 'ü' 'üll' '〨ud']

In [ ]:
import nltk
from sklearn.feature_extraction.text import CountVectorizer

def tokenize_and_lemmatize(text):
    tokens = nltk.word_tokenize(text)
    lemmatizer = nltk.WordNetLemmatizer()
    lemmas = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmas

data_sample = dataset[0:20]
count_vect_sample = CountVectorizer(tokenizer=tokenize_and_lemmatize)
X_count_sample = count_vect_sample.fit_transform(data_sample['body_text'])
print(X_count_sample.shape)
print(count_vect_sample.get_feature_names_out())

(20, 270)
['!' '&' "'" "'m" "'melle" "'s" "'ve" '(' ')' '*' ',' '-' '.' '...'
 '//wap' '08002986030' '08452810075over18' '09061701461.' '1' '100' '11'
 '12' '150p/day' '16+' '2' '20,000' '2005.' '21st' '3' '4'
 '4403ldnw1a7rw18' '4txt/ú1.20' '6days' '81010' '87077' '87121' '87575.'
 '9' ':' '>' '?' 'a' 'about' 'aft' 'aid' 'all' 'already' 'and' 'anymore'
 'apply' 'ard' 'around' 'at' 'b' 'be' 'been' 'blessing' 'breather'
 'brother' 'c' 'call' 'caller' 'callertune' 'camera' 'cash' 'chance'
 'claim' 'click' 'co' 'code' 'colour' 'comin' 'comp' 'copy' 'cost'
 'credit' 'cried' 'csh11' 'cup' 'customer' 'da' 'date' 'did' 'do' 'dont'
 'down' 'eg' 'eh' 'england' 'enough' 'entitled' 'entry' 'even' 'fa' 'feel'
 'final' 'fine' 'finish' 'first' 'for' 'free' 'friend' 'from' 'fulfil'
 'go' 'goals/team' 'going' 'gon' 'gota' 'granted' 'ha' 'had' 'have' 'he'
 'help' 'here' 'his' 'hl' 'home' 'hour' 'how' 'http' 'i' 'if' 'in' 'info'
 'is' 'it' 'jackpot' 'joking' 'k' 'kl341' 'lar' 'latest' 'lccltd' 'life'
 'like' 'link' 'lor' 'lunch' 'm' 'macedonia' 'make' 'may' 'me' 'melle'
 'membership' 'message' 'minnaminunginte' 'miss' 'mobile' 'month' 'more'
 'my' "n't" 'n=qjkgighjjgcbl' 'na' 'nah' 'name' 'national' 'naughty'
 'network' 'news' 'next' 'no' 'not' 'nurungu' 'oh' 'on' 'only' 'or' 'oru'
 'our' 'patent' 'pay' 'per' 'pobox' 'poboxox36504w45wq' 'pound' 'press'
 'prize' 'promise' 'question' 'r' 'rate' 'receive' 'receivea' 'remember'
 'reply' 'request' 'reward' 'right' 'scotland' 'searching' 'selected'
 'send' 'seriously' 'set' 'six' 'smth' 'so' 'soon' 'speak' 'spell' 'std'
 'stock' 'str' 'stuff' 'sunday' 't' 'take' 'talk' 'team' 'text' 'thank'
 'that' 'that\x92s' 'the' 'then' 'they' 'think' 'this' 'though' 'time'
 'tkts' 'to' 'today' 'tonight' 'treat' 'try' 'tsandcs' 'txt' 'u' 'until'
 'update' 'ur' 'urgent' 'use' 'usf' 'v' 'valid' 'valued' 'vettam' 'wale'
 'want' 'wap' 'watching' 'way' 'week' 'wet' 'when' 'will' 'win' 'winner'
 'with' 'wkly' 'won' 'wonderful' 'wont' 'word' 'www.dbuk.net'
 'xxxmobilemovieclub' 'xxxmobilemovieclub.com' 'yes' 'you' 'your'
 '£100,000' '£900' 'ü' '‘']

/usr/local/lib/python3.9/dist-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [ ]:
X_count_sample

<20x202 sparse matrix of type '<class 'numpy.int64'>'
	with 231 stored elements in Compressed Sparse Row format>

In [ ]:
x_counts_df=pd.DataFrame(X_count_sample.toarray())
x_counts_df

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x_counts_df.columns=count_vect_sample.get_feature_names_out()
x_counts_df

,,08002986030,08452810075over18,09061701461,1,100,100000,11,12,150pday,...,winner,wkli,wonder,wont,word,wwwdbuknet,xxxmobilemovieclub,xxxmobilemovieclubcomnqjkgighjjgcbl,ye,ü
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

def tokenize_and_lemmatize(text):
    tokens = nltk.word_tokenize(text)
    lemmatizer = nltk.WordNetLemmatizer()
    lemmas = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmas

tfidf_vect = TfidfVectorizer(tokenizer=tokenize_and_lemmatize)
X_tfidf = tfidf_vect.fit_transform(dataset['body_text'])
print(X_tfidf.shape)
print(tfidf_vect.get_feature_names_out())

/usr/local/lib/python3.9/dist-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

(5568, 8916)
['!' '#' '$' ... '…thanks' '〨ud' '鈥┾']

In [ ]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

def tokenize_and_lemmatize(text):
    tokens = nltk.word_tokenize(text)
    lemmatizer = nltk.WordNetLemmatizer()
    lemmas = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmas

data_sample = dataset[0:20]
tfidf_vect_sample = TfidfVectorizer(tokenizer=tokenize_and_lemmatize)
X_tfidf_sample = tfidf_vect_sample.fit_transform(data_sample['body_text'])
print(X_tfidf_sample.shape)
print(tfidf_vect_sample.get_feature_names_out())

(20, 270)
['!' '&' "'" "'m" "'melle" "'s" "'ve" '(' ')' '*' ',' '-' '.' '...'
 '//wap' '08002986030' '08452810075over18' '09061701461.' '1' '100' '11'
 '12' '150p/day' '16+' '2' '20,000' '2005.' '21st' '3' '4'
 '4403ldnw1a7rw18' '4txt/ú1.20' '6days' '81010' '87077' '87121' '87575.'
 '9' ':' '>' '?' 'a' 'about' 'aft' 'aid' 'all' 'already' 'and' 'anymore'
 'apply' 'ard' 'around' 'at' 'b' 'be' 'been' 'blessing' 'breather'
 'brother' 'c' 'call' 'caller' 'callertune' 'camera' 'cash' 'chance'
 'claim' 'click' 'co' 'code' 'colour' 'comin' 'comp' 'copy' 'cost'
 'credit' 'cried' 'csh11' 'cup' 'customer' 'da' 'date' 'did' 'do' 'dont'
 'down' 'eg' 'eh' 'england' 'enough' 'entitled' 'entry' 'even' 'fa' 'feel'
 'final' 'fine' 'finish' 'first' 'for' 'free' 'friend' 'from' 'fulfil'
 'go' 'goals/team' 'going' 'gon' 'gota' 'granted' 'ha' 'had' 'have' 'he'
 'help' 'here' 'his' 'hl' 'home' 'hour' 'how' 'http' 'i' 'if' 'in' 'info'
 'is' 'it' 'jackpot' 'joking' 'k' 'kl341' 'lar' 'latest' 'lccltd' 'life'
 'like' 'link' 'lor' 'lunch' 'm' 'macedonia' 'make' 'may' 'me' 'melle'
 'membership' 'message' 'minnaminunginte' 'miss' 'mobile' 'month' 'more'
 'my' "n't" 'n=qjkgighjjgcbl' 'na' 'nah' 'name' 'national' 'naughty'
 'network' 'news' 'next' 'no' 'not' 'nurungu' 'oh' 'on' 'only' 'or' 'oru'
 'our' 'patent' 'pay' 'per' 'pobox' 'poboxox36504w45wq' 'pound' 'press'
 'prize' 'promise' 'question' 'r' 'rate' 'receive' 'receivea' 'remember'
 'reply' 'request' 'reward' 'right' 'scotland' 'searching' 'selected'
 'send' 'seriously' 'set' 'six' 'smth' 'so' 'soon' 'speak' 'spell' 'std'
 'stock' 'str' 'stuff' 'sunday' 't' 'take' 'talk' 'team' 'text' 'thank'
 'that' 'that\x92s' 'the' 'then' 'they' 'think' 'this' 'though' 'time'
 'tkts' 'to' 'today' 'tonight' 'treat' 'try' 'tsandcs' 'txt' 'u' 'until'
 'update' 'ur' 'urgent' 'use' 'usf' 'v' 'valid' 'valued' 'vettam' 'wale'
 'want' 'wap' 'watching' 'way' 'week' 'wet' 'when' 'will' 'win' 'winner'
 'with' 'wkly' 'won' 'wonderful' 'wont' 'word' 'www.dbuk.net'
 'xxxmobilemovieclub' 'xxxmobilemovieclub.com' 'yes' 'you' 'your'
 '£100,000' '£900' 'ü' '‘']

/usr/local/lib/python3.9/dist-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [ ]:
corpus = ['This is the first document.', 'This is the second second document.', 'And the third one.', 'Is this the first document?']
tfidf_vect_sample = TfidfVectorizer()
X_tfidf_sample = tfidf_vect_sample.fit_transform(corpus)

X_tfidf_df = pd.DataFrame(X_tfidf_sample.toarray())
X_tfidf_df.columns = tfidf_vect_sample.get_feature_names_out()
X_tfidf_df

,and,document,first,is,one,second,the,third,this
0,0.000000,0.438777,0.541977,0.438777,0.000000,0.000000,0.358729,0.000000,0.438777
1,0.000000,0.272301,0.000000,0.272301,0.000000,0.853226,0.222624,0.000000,0.272301
2,0.552805,0.000000,0.000000,0.000000,0.552805,0.000000,0.288477,0.552805,0.000000
3,0.000000,0.438777,0.541977,0.438777,0.000000,0.000000,0.358729,0.000000,0.438777

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

def tokenize_and_lemmatize(text):
    tokens = nltk.word_tokenize(text)
    lemmatizer = nltk.WordNetLemmatizer()
    lemmas = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmas

data_sample = dataset[0:20]
tfidf_vect_sample = TfidfVectorizer(tokenizer=tokenize_and_lemmatize)
X_tfidf_sample = tfidf_vect_sample.fit_transform(data_sample['body_text'])
print(X_tfidf_sample.shape)
print(tfidf_vect_sample.get_feature_names_out())

(20, 270)
['!' '&' "'" "'m" "'melle" "'s" "'ve" '(' ')' '*' ',' '-' '.' '...'
 '//wap' '08002986030' '08452810075over18' '09061701461.' '1' '100' '11'
 '12' '150p/day' '16+' '2' '20,000' '2005.' '21st' '3' '4'
 '4403ldnw1a7rw18' '4txt/ú1.20' '6days' '81010' '87077' '87121' '87575.'
 '9' ':' '>' '?' 'a' 'about' 'aft' 'aid' 'all' 'already' 'and' 'anymore'
 'apply' 'ard' 'around' 'at' 'b' 'be' 'been' 'blessing' 'breather'
 'brother' 'c' 'call' 'caller' 'callertune' 'camera' 'cash' 'chance'
 'claim' 'click' 'co' 'code' 'colour' 'comin' 'comp' 'copy' 'cost'
 'credit' 'cried' 'csh11' 'cup' 'customer' 'da' 'date' 'did' 'do' 'dont'
 'down' 'eg' 'eh' 'england' 'enough' 'entitled' 'entry' 'even' 'fa' 'feel'
 'final' 'fine' 'finish' 'first' 'for' 'free' 'friend' 'from' 'fulfil'
 'go' 'goals/team' 'going' 'gon' 'gota' 'granted' 'ha' 'had' 'have' 'he'
 'help' 'here' 'his' 'hl' 'home' 'hour' 'how' 'http' 'i' 'if' 'in' 'info'
 'is' 'it' 'jackpot' 'joking' 'k' 'kl341' 'lar' 'latest' 'lccltd' 'life'
 'like' 'link' 'lor' 'lunch' 'm' 'macedonia' 'make' 'may' 'me' 'melle'
 'membership' 'message' 'minnaminunginte' 'miss' 'mobile' 'month' 'more'
 'my' "n't" 'n=qjkgighjjgcbl' 'na' 'nah' 'name' 'national' 'naughty'
 'network' 'news' 'next' 'no' 'not' 'nurungu' 'oh' 'on' 'only' 'or' 'oru'
 'our' 'patent' 'pay' 'per' 'pobox' 'poboxox36504w45wq' 'pound' 'press'
 'prize' 'promise' 'question' 'r' 'rate' 'receive' 'receivea' 'remember'
 'reply' 'request' 'reward' 'right' 'scotland' 'searching' 'selected'
 'send' 'seriously' 'set' 'six' 'smth' 'so' 'soon' 'speak' 'spell' 'std'
 'stock' 'str' 'stuff' 'sunday' 't' 'take' 'talk' 'team' 'text' 'thank'
 'that' 'that\x92s' 'the' 'then' 'they' 'think' 'this' 'though' 'time'
 'tkts' 'to' 'today' 'tonight' 'treat' 'try' 'tsandcs' 'txt' 'u' 'until'
 'update' 'ur' 'urgent' 'use' 'usf' 'v' 'valid' 'valued' 'vettam' 'wale'
 'want' 'wap' 'watching' 'way' 'week' 'wet' 'when' 'will' 'win' 'winner'
 'with' 'wkly' 'won' 'wonderful' 'wont' 'word' 'www.dbuk.net'
 'xxxmobilemovieclub' 'xxxmobilemovieclub.com' 'yes' 'you' 'your'
 '£100,000' '£900' 'ü' '‘']